<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1576c606-8577-4cbf-85b2-ec0d5226e5d8" name="Tes" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1576c606-8577-4cbf-85b2-ec0d5226e5d8fileName">Tes</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
