<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="cc839135-556a-4d2f-a5b5-0b6da41ce0b6" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://alpiq-retail.d2.opencell.work 5" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cc839135-556a-4d2f-a5b5-0b6da41ce0b6fileName">https%3A%2F%2Falpiq-retail.d2.opencell.work-5</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://alpiq-retail.d2.opencell.work</con:endpoint>
  </con:endpoints>
</con:interface>
