<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2dd4b199-01b4-425a-ba2a-741b5b14d9e1" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://alpiq-retail.d2.opencell.work" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2dd4b199-01b4-425a-ba2a-741b5b14d9e1fileName">https%3A%2F%2Falpiq-retail.d2.opencell.work</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://alpiq-retail.d2.opencell.work</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="a04c6153-1d27-4f78-a75d-2929a3575483">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
